<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Exo|Share+Tech" rel="stylesheet">
  <script src="https://use.fontawesome.com/19fb225610.js"></script>
  <link rel="stylesheet" type="text/css" href="/materialize/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />

</head>

<body>
  {{{ body }}}
  <footer>
    <div class="footer-copyright">
      <div class="container">
      © 2017 App powered by Jake Beaube, Grace Sullivan, David Mollert and Robbie Geyer.
      <a class="grey-text text-lighten-4 right" href="/admin">Admin</a>
      </div>
    </div>
  </footer>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/app.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/multiscroll.js/vendors/jquery.easings.min.js"></script>
<script>
  $(".mainlink").mouseenter(function() {
    console.log("this works");
    $("#cogturn").removeClass("fa fa-cog fa-3x fa-fw");
    $("#cogturn").addClass("fa fa-cog fa-spin fa-3x fa-fw");

  });

  $(".mainlink").mouseleave(function() {
    $("#cogturn").removeClass("fa fa-cog fa-spin fa-3x fa-fw");
    $("#cogturn").addClass("fa fa-cog fa-3x fa-fw");

  });
</script>

</html>
