<div class="full-size titlebackground">
    <div class="result-header">
      {{this.content.page_name}}
    </div>
    <div class = "container">
        <h3 class="center">{{ this.content.header }}</h3>
        <p class="maintext">{{{ this.content.text }}}</p>
    </div>
</div>
