<div id="faqs">

	<div class = "definitions">
		<p>
		<h2>Intelligent Flight:</h2>
		</p>
		<p>
		<h3>There are different intelligent flight modes that make flying easier on the operator. For example: “Follow Me” mode will follow the operator from a fixed distance.</h3>
		</p>
		<p>
		<h2>Gimbal:</h2>
		</p>
		<p>
		<h3>A gimbal is a pivoted support that allows the rotation of an object about a single axis. In our case, a camera.</h3>
		</p>
		<p>
		<h2>Headless Mode:</h2>
		</p>
		<p>
		<h3>This is another feature to make flying easier. “Headless” implies you don’t need a brain to operate the drone.</h3>
		</p>
		<p>
		<h2>Avoidance:</h2>
		</p>
		<p>
		<h3>Obstacle avoidance, it does just that, avoids obstacles.</h3>
		</p>
		<p>
		<h2>FPS:</h2>
		</p>
		<p>
		<h3>Frames per second. The higher the FPS, the smoother a moving image appears.</h3>
		</p>
		<div class="info">
		<p>Any drone that weighs between .55 and 55 pounds must be registered with the Federal Aviation Administration. For more information visit <a href="http://federaldroneregistration.com"The Federal Drone Registration</a> site</p></div>


	</div>
</div>

