<div id="header">
  <p class = "instr">SCROLL UP AND DOWN TO NAVIGATE</p>
</div>

<div id="myContainer">
  <form action="/results" method="POST">
    <div id="multiscroll">
      <div class="ms-left">
        <div class="ms-section left1 active">WHAT'S YOUR PRICE RANGE</div>
        <div class="ms-section left2">DOES IT HAVE A CAMERA</div>
        <div class="ms-section left3">DOES IT HAVE INTELLIGENT FLIGHT?</div>
        <div class="ms-section left3">ALL SET?</div>
      </div>
      <div class="ms-right">
        <div class="ms-section right1 active">
          <div class="answerholder">
            <div class="input-field col s12">
              <select name="price">
                    <option value="" disabled selected>CHOOSE</option>
                    <option value="1">$0-$100</option>
                    <option value="2">$100-$500</option>
                    <option value="3">$500+</option>
                </select>
            </div>
          </div>
        </div>
        <div class="ms-section right2">
          <div class="answerholder">
            <div class="input-field col s12">
              <select name="camera">
                    <option value="" disabled selected>CHOOSE</option>
                    <option value="1">YES</option>
                    <option value="0">NO</option>
                </select>
            </div>
          </div>
        </div>
        <div class="ms-section right3">
          <div class="answerholder">
            <div class="input-field col s12">
              <select name="flight">
                    <option value="" disabled selected>CHOOSE</option>
                    <option value="1">YES</option>
                    <option value="0">NO</option>
                </select>
            </div>
          </div>
        </div>
        <div class="ms-section right4">
          <button id="submit" class="waves-effect waves-light btn-flat" type="submit">Submit</button>
          <!-- <a id ="submit" href="/results"> SUBMIT </a> -->
        </div>
      </div>
    </div>
  </form>
</div>
