
  <ul id="menu">
    <li data-menuanchor="first"><a href="#first">First slide</a></li>
    <li data-menuanchor="second"><a href="#second">Second slide</a></li>
    <li data-menuanchor="third"><a href="#third">Third slide</a></li>
  </ul>
  <div id="myContainer">
    <div id="multiscroll">
      <div class="ms-left">
        <div class="ms-section left1 active">What's your Max Price Range(s)?</div>
        <div class="ms-section left2">Does it have a Camera</div>
        <div class="ms-section left3">Does it have Intelligent Flight?</div>
        <div class="ms-section left3">All set?</div>
      </div>
      <div class="ms-right">
        <div class="ms-section right1 active">
          <div class="answerholder">
            <div class="input-field col s12">
              <select name="price">
      							<option value="" disabled selected>Choose</option>
      							<option value="1">$0-$100</option>
      							<option value="2">$100-$500</option>
      							<option value="3">$500+</option>
    						</select>
            </div>
          </div>
        </div>
        <div class="ms-section right2">
          <div class="answerholder">
            <div class="input-field col s12">
              <select name="price">
      							<option value="" disabled selected>Choose</option>
      							<option value="1">Yes</option>
      							<option value="0">No</option>
    						</select>
            </div>
          </div>
        </div>
        <div class="ms-section right3">
          <div class="answerholder">
            <div class="input-field col s12">
              <select name="price">
      							<option value="" disabled selected>Choose</option>
      							<option value="1">Yes</option>
      							<option value="0">No</option>
    						</select>
            </div>
          </div>
        </div>
        <div class="ms-section right4">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    			<i class="material-icons right">send</i>
  	  		</button>
        </div>
      </div>
    </div>
  </div>
