<h1 style="text-align: center">RESULTS</h1>
<div class="container">
  {{#each drones}}
    <div class="main col-md-4 snake">
      <div class="overlay"><span class="header">{{this.drone_name}}</span>
        <span class="description">${{this.price}}</span></div>
      <img class="snkimg" src="{{this.picture_small}}" />
    </div>
  {{/each}}
</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="../snakegallery/snake.min.js"></script>
<script src="app.js"></script>

<script>
  $(".snake").snakeify({
    speed: 200
  });
</script>